# MONGODB ATLAS
MONGODB_URI="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/?retryWrites=true&w=majority"
MONGODB_DBNAME="<database_name>"
MONGODB_COLLECTION="<collection_name>"

# Where msg sent to, supergroup telegram
GROUP_CHAT_ID="<group_chat_ids>"

# BOT TOKEN TELEGRAM
BOT_TOKEN="<bot_token>"

# TELEGRAM API ID, API HASH
TELEGRAM_API_ID="<api_id>"
TELEGRAM_API_HASH="<api_hash>"

# PYTHON pyrogram user session string
TELEGRAM_STRING_SESSION="<session_string>"
